:root {
    // COLORS
    --red: #E63946;
    --white: #F1FAEE;
    --cyan: #A8DADC;
    --blue: #457B9D;
    --marine: #1D3557;
    --black: #000;
    --background: #232028;
    --retroScreen: #eeb326;

    // SPACINGS
    --s1: .5rem;
    --s2: 1rem;
    --s3: 1.5rem;
    --s4: 2rem;
    --s5: 2.5rem;

    // FONTS
    --ffConsole: 'tty', 'consolas', Arial, Helvetica, sans-serif;
    --fzBody: 1em;
    --fzM: 1.5em;
    --fzL: 2em;
    --fzXL: 2.5em;
    --fzBig: 6.5em;
}
